<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.email %></h1>
    <p>
      Here is your daily shot of pseudorandomness:
    </p>
    <div>
      <%= @html_message.html_safe %>
    </div>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
