<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.email %></h1>
    <p>
      You have successfully signed up for your daily shot of randomness.
    </p>
    <p>
      Please verify your email: <a href="<%= @url %>">Verify email</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
