Hello, <%= @user.email %>
===============================================

You have successfully signed up to start getting your daily shot of randomness.
Please, verify your email using the link below:

<%= @url %>
 
Thanks for joining and have a great day!
