<div class="row">
  <h1>Subscribe and start getting our awesome emails!</h1>
  <%= render 'partials/flash' %>

  <%= render 'partials/form_errors', model: @user %>

  <%= form_for(@user) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit 'Subscribe!', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
