<div class="row">
  <% if @invalid_token %>
    <div class="alert alert-danger">
      The link you've used is invalid. Please try again.
    </div>
  <% else %>
    <div class="alert alert-success">
      Your email has been verified! You'll start receiving our awesome daily random content emails!
    </div>
  <% end %>
</div>
