<!DOCTYPE html>
<html>
<head>
  <title>Pseudorandomness</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
        <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
